
Lab4/Lab4.0-Rendu/hw/quartus/db/ES_mini_project_TRDB_D5M_LT24.quiproj.12148.rdr.flock
Lab4/Lab4.0-Rendu/hw/quartus/db/
Lab4/Lab4.0-Rendu/hw/quartus/incremental_db/
*.kpt
Lab4/LAB4.2/hw/quartus/ES_mini_project_TRDB_D5M_LT24.qws
Lab4/LAB4.2/hw/quartus/db/ES_mini_project_TRDB_D5M_LT24.db_info
